
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  display: block;
}

.productImg {
  display: block;
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  padding: 0px 2vw;
  object-fit: contain;
  margin-bottom:10px;
}

.container{
  /* margin-left: 100px; */
  padding: 100px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
}


/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card{
  display: flex;
  width: 350px;
  height: 420px;
  flex-direction: column;
  word-wrap: break-word;
  box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  /* background-color:#f1f1f1; */
  /* box-shadow: #282c34; */
  padding:10px;
  margin-bottom:30px;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.title{
  max-width: 400px;
  word-wrap: break-word;
  margin: 5px 10px;
}

.price{
  margin: 5px 10px;
}

.details-image{
  height: 600px;
  width: 600px;
  padding: 0px 2vw;
  object-fit: contain;
}

.details-container{
  padding: 100px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
}

.details-card{
  display: flex;
  width: 50%;
  flex-direction: column;
  padding:10px
}

.details-card>h2{
  margin:0px;
}